{{ range .Tables }}
--
-- Table structure for table `{{ .Name }}`
--
{{ range .DebugMsgs }}-- Debug: {{ . }}
{{ end }}
{{ if not $.Args.SkipAddDropTable }}DROP TABLE IF EXISTS `{{ .Name }}`;{{ end }}
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = {{ .CharSet }} */;
{{ .CreateSQL }};
/*!40101 SET character_set_client = @saved_cs_client */;
{{ if .Rows }}
--
-- Dumping data for table `{{ .Name }}`
--

LOCK TABLES `{{ .Name }}` WRITE;
/*!40000 ALTER TABLE `{{ .Name }}` DISABLE KEYS */;
{{ .|TableInserts }}
/*!40000 ALTER TABLE `{{ .Name }}` ENABLE KEYS */;
UNLOCK TABLES;

{{ if $.ShouldDumpTriggers }}{{ template "templates/mysql/create_triggers.sql.tmpl" . }}{{ end }}
{{ end }}
{{ end }}