{{ template "templates/mysql/header.sql.tmpl" . }}
{{ if .ShouldDumpTables }}{{ template "templates/mysql/create_tables.sql.tmpl" . }}{{ end }}
{{ if .ShouldDumpViews }}{{ template "templates/mysql/create_views_temp.sql.tmpl" . }}{{ end }}
{{ if .ShouldDumpRoutines }}{{ template "templates/mysql/create_routines.sql.tmpl" . }}{{ end }}
{{ if .ShouldDumpViews }}{{ template "templates/mysql/create_views_final.sql.tmpl" . }}{{ end }}
{{ template "templates/mysql/footer.sql.tmpl" . }}